.container {
    width: 50%;
    border-top: 1px solid #e9e8eb;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 0;
}

.container p {
    margin: 0;
    color: limegreen;
}

